body {
  // Birthday //
  .BDheader {
    text-align: center;
  }
  .BDcakeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }

  .BDNameForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
  }

  .BDnext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 6px;
    transition-duration: 0.4s;
  }
  .BDnext:hover {
    background-color: #555555;
    color: white;
  }

  // Wedding //
  .Wheader {
    text-align: center;
  }
  .Wcouple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
  .WBnameForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
  }

  .Wnext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 6px;
    transition-duration: 0.4s;
  }
  .Wnext:hover {
    background-color: #555555;
    color: white;
  }
}
