body {
    background-color: lightblue;

  .header {
    text-align: center;
  }

  .sub-text {
    text-align: center;
  }
  .startButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 10px;
    transition-duration: 0.4s;
  }
  .startButton:hover {
    background-color: #555555;
    color: white;
  }
}
